@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  background-color: #282c34;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  background-color: #363a45;
  height: 100vh;
  text-align: center;
}
nav ul {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0;
}

nav li {
  list-style: none;
  margin-bottom: 10px;
}

nav li a {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
}

.nav-active {
  color: grey;
  transition: all 0.3s ease-out;
}

@layer components {
  .inputAuth {
    @apply h-10 px-2 rounded-md focus:outline-none focus:ring-blue-400 focus:ring-2 text-black flex-none;
  }
  .inputAuthContainer {
    @apply flex flex-col md:h-28 lg:h-24 h-32 space-y-2;
  }
  .labelAuth {
    @apply text-black text-xl tracking-wider;
  }
  .errorInputForm {
    @apply text-red-800 text-sm pt-1;
  }
  .terms {
    @apply h-5 w-5;
  }
}
